@import '../../shared/styles/variables';

.fs-24 {
        font-size: 24px;
}

// .modal .bg-blue{
//     background-color: $primary;
//     border: none;
// }

.d-flex > .btn-white{
    width: 40%;
    background-color: $white;
    color: $black;
    border: 2px solid $white;
    font-family: RotondaC-Bold;
    font-size: 16px;

    &:hover {
        background-color: $primary;
    }
}

.table > tr:last-child{
    border-bottom: none !important;
}