<div class="container-fluid banner p-0">
    <img src="../../../assets/images/banner.jpeg" alt="">
    <div class="banner-text">
        <p class="text-about boldR">
            Ми - це доставка
            <span class="color-blue boldR">
                щастя.
                <br>
                Monosushi
            </span>
            - Ми любимо коли тобі смачно.
        </p>
        <button class="bg-blue border-blue rounded boldR px-5 py-3" [routerLink]="[ '/about-us' ]"
            routerLinkActive="route-active">
            ДЕТАЛЬНІШЕ
        </button>
    </div>
</div>
<div class="spacer"></div>